input,
textarea {
  outline: none;
}
h2,
h3,
h4 {
  font-weight: 300;
}
.title {
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.title span {
  font-weight: 300;
  font-size: 34px;
  line-height: 130%;
}
.page-seo section {
  padding: 100px 0px;
}
.page-seo .hero {
  padding: 0px;
}
.page-seo .modal-bloc {
  position: relative;
  padding: 90px 0px;
  background: #007180;
}

.form {
  display: flex;
}
.form {
  margin-top: 14px;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #ffffff;
}
.form-input input {
  font-family: 'GerberaLight';
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #003b5c;
  border: none;
  padding: 20px 20px;
  max-width: 200px;
}
.form-input input {
  margin-right: 1.5px;
}

.hero-bloc-seo .hero-inner {
  align-items: flex-start;
}
.hero-bloc-seo .hero-title {
  width: 100%;
  max-width: 657px;
  text-align: left;
  margin: auto 0 100px;
}
.hero-bloc-seo .hero-title h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.12em;
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.hero-bloc-seo p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0;
  text-transform: none;
}
.hero-arrow {
  display: flex;
}
.hero-arrow {
  gap: 300px;
  margin-bottom: 30px;
}
.hero-arrow a {
  position: relative;
  font-family: 'GerberaLight';
  font-weight: 300;
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.hero-arrow a::before {
  content: url(../img/up_right.svg);
  position: absolute;
  top: 1px;
  right: -50px;
}
.hero-arrow a::after {
  content: '';
  position: absolute;
  width: 0;
  background-color: #fff;
  height: 1px;
  left: 0;
  bottom: -4px;
  transition: all 0.2s ease;
}
.hero-arrow a:hover::after {
  width: 100%;
}
.new-container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 0px 15px;
}
.modal-bloc-seo .title {
  color: #fff;
}
.modal-bloc-seo .modal-step {
  width: 100%;
}
.modal-bloc-seo h2 {
  margin: 0px;
  margin-bottom: 55px;
}
.text-bloc .def-text {
  max-width: 1030px;
  text-align: left;
}
.text-bloc ul {
  padding-left: 40px;
  padding-bottom: 20px;
  list-style: disc;
}
.text-bloc h2 {
  margin: 0px;
}
.img-section-seo {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
}
.subscription .title {
  font-weight: 300;
  font-size: 34px;
  line-height: 145%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0px;
  margin-right: 115px;
  color: #ffffff;
}
.subscription .new-container {
  display: flex;
  justify-content: space-between;
}
.subscription form > div:nth-child(1) input {
  border-radius: 10px 0px 0px 10px;
}
.subscription form > div:nth-child(2) input {
  border-radius: 0px 10px 10px 0px;
}
.subscription-title > div {
  font-family: 'GerberaLight';
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  max-width: 360px;
  color: #ffffff;
}
.subscription .submit-btn {
  padding: 22px 36px;
}
.input-btn {
  margin-left: 10px;
}
.info-text-min {
  font-family: 'GerberaLight';
  font-weight: 400;
  font-size: 26px;
  line-height: 170%;
  text-transform: uppercase;
  color: #007180;
  margin-bottom: 15px;
}
.def-text .title-lined {
  margin-top: 60px;
}
.more > .new-container {
  display: flex;
  justify-content: flex-start;
}
.more > .new-container > div:nth-child(1) {
  width: 80%;
}
.more > .new-container > div:nth-child(2) {
  width: 20%;
}
.more .input-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.more a {
  display: block;
  margin: 0px;
}
.more .title {
  font-size: 34px;
  line-height: 130%;
  margin: 0px;
  padding-bottom: 8px;
  color: #fff;
}
.more p {
  margin: 0px;
  font-size: 24px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.7);
}
.form-contact-seo .contact-title span {
  display: block;
}
.form-contact-seo .contact-title p {
  font-weight: 300;
  font-size: 26px;
  line-height: 150%;
  max-width: 325px;
  letter-spacing: 0;
  text-transform: none;
  color: #1d1d1d;
}
.form-contact-seo .contact-title h2 {
  margin-bottom: 0px;
}
.form-contact-seo .contact-title {
  max-width: 475px;
}
.scheme-card {
  position: relative;
}
.scheme-card:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 1px;
  background: rgba(0, 113, 128, 0.3);
  top: 30px;
  left: 50%;
}
.scheme-card:nth-child(2)::after {
  width: 160px;
}
.scheme-card:nth-child(3)::after {
  width: 160px;
}
.scheme-card:nth-child(4)::after {
  width: 160px;
}
.scheme-card div:nth-child(1) {
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border: 1px solid #007180;
  color: #007180;
  background: none;
  border-radius: 50%;
}
.scheme-card div:nth-child(2) {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #007180;
  margin: 16px 0px 14px;
}
.scheme-container {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 98px;
}
.scheme-container .input-btn-to a {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.2em;
  width: 117px;
  margin: 0px;
  padding: 0px;
  background: none;
  border-radius: none;
  color: #1d1d1d;
  transition: all 0.2s ease;
}
.scheme-container .input-btn-to:hover path {
  fill: #00b8cc;
  stroke: #00b8cc;
}
.scheme-container .input-btn-to:hover a {
  color: rgba(0, 113, 128, 0.8);
}
.benefits-container {
  position: relative;
  display: flex;
  margin-top: 25px;
}
.benefits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 282px;
  border: 1px solid #007180;
  border-radius: 50%;
}

.benefits-card span {
  display: block;
  text-align: center;
  width: 208px;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  color: #007180;
}
.benefits-card div {
  width: 208px;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  color: #1d1d1d;
}
.benefits-card:nth-child(1n):not(:last-child) {
  margin-right: 250px;
}
.benefits-card:nth-child(2n) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #007180;
}
.benefits-container .benefits-card:nth-child(2) {
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}
.benefits-container .benefits-card:nth-child(4) {
  top: 50%;
  left: 74%;
  transform: translateY(-50%);
}
.benefits-card:nth-child(2n) div,
.benefits-card:nth-child(2n) span {
  color: #fff;
}
.benefits .title {
  text-align: center;
}
.reviews {
  background: #f8f8f8;
}
.swiper-container.reviews {
  overflow: visible;
}
.reviews .swiper-slide {
  background: #fff;
  font-size: 16px;
  line-height: 170%;
  color: #1d1d1d;
  padding: 42px 32px;
  margin-right: 25px;
  width: 470px;
  height: 300px;
}
.reviews .swiper-slide p {
  overflow: hidden;
  max-width: 320px;
  height: 110px;
  margin: 11px 0px 32px;
}
.reviews .swiper-slide h3 {
  font-size: 22px;
  margin: 0px;
  line-height: 145%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(0, 113, 128, 0.7);
}
.reviews .swiper-button-next:after,
.reviews .swiper-button-prev:after {
  border: 0 !important;
  outline: 0 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  display: none;
}
.reviews.swiper-container-horizontal > .swiper-scrollbar {
  position: static;
  margin-top: 74px;
  margin-bottom: 28px;
  height: 3px;
}
.reviews .swiper-button-next,
.reviews .swiper-button-prev {
  position: static;
  transform: none;
}
.fly {
  background: #f8f8f8;
}
.fly h2 {
  text-align: center;
}
.fly .title span {
  display: block;
}
.fly p {
  max-width: 850px;
  margin: 0px auto 50px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #1d1d1d;
}
.fly-container {
  display: flex;
  flex-direction: column;
}
.fly-container div {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.fly-container div:nth-child(2n) {
  justify-content: flex-end;
}
.fly-container div:not(:last-child) {
  margin-bottom: 22px;
}
.fly-container span {
  display: block;
  border: 1px solid #686868;
  border-radius: 900px;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #686868;
}
.partner .title {
  text-align: center;
}
.partner .partner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pilot .p-p-type {
  margin-top: 25px;
}
.pilot .p-p-title {
  margin-top: 8px;
}
.question-container {
  display: flex;
  gap: 45px;
}
.question-container > div:nth-child(1),
.question-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(0, 113, 128, 0.7);
}
.question-card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000000;
}
.question-card-title {
  cursor: pointer;
}
.question-card-title::after,
.question-card-title::before {
  transition: all 0.2s ease;

  content: '';
  position: absolute;
  top: 3px;
  right: 1%;
  width: 2px;
  height: 15px;
  background: #8d9fbb;
}
.question-card-title::before {
  transition: all 0.2s ease;

  transform: rotate(90deg);
}
.question-card-text {
  display: none;
}
.question-card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #1d1d1d;
  margin-top: 16px;
  padding: 16px 18px;
  letter-spacing: 0;
  text-transform: none;
}
.question-card-title.go::before {
  transform: rotate(225deg);
}
.question-card-title.go::after {
  transform: rotate(318deg);
}
.business .p-p-title {
  font-weight: 300;
  font-size: 30px;
  line-height: 120%;
  color: #1d1d1d;
  letter-spacing: 0;
  text-transform: none;
}
.form-flight-min {
  display: flex;
  gap: 26px;
}
.form-flight-min input {
  margin-bottom: 30px;
}
.tablet-bloc-container table {
  font-family: 'GerberaLight';
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.12em;
  color: #000000;
  border-collapse: collapse;
}
.tablet-bloc-container table tr:nth-child(1) {
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
}
.tablet-bloc-container table tr:not(:nth-child(1)) td {
  padding: 25px 0px;
}
.tablet-bloc-container table tr:not(:nth-child(1)) td {
  border-bottom: 1px solid rgb(0, 113, 128);
}
.tablet-bloc .title {
  text-align: center;
}
.medicine .p-p-type,
.corporate .p-p-type {
  margin-top: 25px;
  text-transform: uppercase;
}
.medicine ul li:not(:last-child),
.corporate ul li:not(:last-child) {
  margin-bottom: 5px;
}
.corporate-scheme .title {
  text-align: center;
}
.medicine .tablet-bloc-container table {
  border-top: 1px solid rgb(0, 113, 128);
}
.medicine .tablet-bloc-container table tr td:nth-child(1) {
  text-align: start;
}
.medicine .tablet-bloc-container table tr td:nth-child(2) {
  text-align: end;
}
.medicine .title span {
  display: block;
  font-weight: 300;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.medicine {
  position: relative;
  background: #fff;
}

.contact-row {
  justify-content: space-between;
}
.charter h4 {
  display: flex;
  align-items: center;
  font-family: 'GerberaLight';
  font-weight: 300;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(0, 113, 128, 0.7);
}
.charter h4 svg {
  margin: 0px 8px;
}
.charter-swiper-price {
  margin-top: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #1d1d1d;
}
.charter-swiper-model {
  margin-top: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #1d1d1d;
  opacity: 0.5;
}
.def-text p:not(:last-child) {
  margin-bottom: 30px;
}
.numbers .title {
  text-align: center;
}
.numbers-container {
  display: flex;
  align-items: self-start;
  justify-content: center;
  gap: 78px;
}
.numbers-card {
  text-align: left;
}
.numbers-card div:nth-child(1) {
  font-weight: 300;
  font-size: 64px;
  line-height: 130%;
  text-transform: uppercase;
  color: #007180;
}
.numbers-card div:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #1d1d1d;
}
.possibilities-preview:hover .p-p-type {
  color: #007180;
}
.office-photo .title {
  text-align: center;
}
.office-photo-container {
  display: flex;
  flex-wrap: wrap;
}
.office-photo-container div {
  max-width: 407px;
  overflow: hidden;
}
.office-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}
.office-photo-container img:hover {
  transform: scale(1.1);
}
.title-lined {
  max-width: 925px;
}
.auto-container,
.auto-card {
  display: flex;
  gap: 25px;
}
.auto-card {
  flex-direction: column;
  max-width: 390px;
}
.auto-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auto-card div:nth-child(2) h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.12em;
  margin: 0px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: rgba(0, 113, 128, 0.7);
}
.auto-card-info {
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  color: #1d1d1d;
}
.auto-card-info span {
  display: block;
}
.auto-card-info div {
  display: flex;
  justify-content: space-between;
}
.auto-card-info div:nth-child(1),
.auto-card-info div:nth-child(2),
.auto-card-info div:nth-child(3) {
  margin-bottom: 4px;
}
.auto-card-info div:last-child {
  margin-top: 8px;
  color: rgba(0, 113, 128, 0.7);
}
.auto-card-info div:last-child span:nth-child(2) {
  display: flex;
  align-items: center;
}
.auto-card-info svg {
  margin-right: 8px;
}
.auto-card-info div:last-child span:nth-child(2) {
  margin: 0px 24px 0px auto;
}
.сompare-bloc .tablet-bloc-container tr:not(:first-child) td:not(:first-child) {
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(0, 113, 128, 0.8);
}
.rent-bloc-container table {
  border-collapse: collapse;
}
.rent-bloc-container table tr td {
  text-align: left;
}
.rent-bloc-container table tr:nth-child(2n) td {
  background: #f8f8f8;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000000;
  padding: 20px 0px;
  text-align: center;
}
.rent-bloc-container table tr:nth-child(1) td {
  padding: 20px 0px;
  font-weight: 300;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 113, 128, 0.7);
}
.rent-bloc-container table tr:nth-child(1) td:nth-child(1) {
  border-right: 0.1px solid #fff;
}
.rent-bloc-container table tr:nth-child(1) td:nth-child(2) {
  border-left: 0.1px solid #fff;
}
.rent-bloc-table td {
  padding: 24px 32px 24px 32px;
}
.rent-bloc-table td span {
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #007180;
  margin-bottom: 14px;
}
.rent-bloc-table td:nth-child(1) {
  border-right: 1px solid rgba(0, 113, 128, 0.3);
}
.rent-bloc-table td:nth-child(2) {
  border-left: 1px solid rgba(0, 113, 128, 0.3);
}
.auto-title {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
}
.auto-title > div {
  display: flex;
  gap: 24px;
}
.select {
  position: relative;
  display: block;
  min-width: 200px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.select__head {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  padding: 14px 15px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  background: #ffffff;
  color: rgba(66, 67, 72, 0.8);
}

.select__head::after,
.select__head::before {
  min-width: 2px;
  min-height: 8px;
  position: absolute;
  top: 55%;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: '';
  display: block;
  background: #00b8cc;
  transition: 0.2s ease-in;
}
.select__head::after {
  right: 15px;
  transform: rotate(40deg);
}
.select__head::before {
  transform: rotate(133deg);
}
.select__head.open::before {
  transform: translateY(50%) rotate(46deg);
}
.select__head.open::after {
  transform: translateY(50%) rotate(132deg);
}
.select__list {
  display: none;
  position: absolute;
  top: 88%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0px 0px 10px 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}
.select span {
  font-weight: 300;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 5px;
}
.bac-darkWhite {
  background: #fff;
}
.section-gray {
  background-color: #f8f8f8;
}
.schedule .title {
  text-align: left;
}
.schedule table tr td:last-child {
  text-align: end;
}
.schedule table tr td:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.item-bloc-container {
  display: flex;
  gap: 25px;
}
.item-bloc-card {
  max-width: 390px;
}
.item-bloc-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-bloc-container h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 145%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-top: 25px;
  color: rgba(0, 113, 128, 0.7);
}
.item-bloc-card-info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1244px) {
  .corporate .scheme-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .scheme-card {
    text-align: center;
    max-width: 260px;
  }
  .scheme-card::after {
    display: none;
  }
  .scheme-card div:nth-child(1) {
    margin: 0px auto;
  }
}
@media screen and (max-width: 1105px) {
  .modal-order-inputs .modal-order-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .modal-order-date {
    align-items: normal;
  }
  .modal-right {
    margin-top: auto;
  }
}
@media screen and (max-width: 991px) {
  .new-container {
    padding: 0px 10px;
  }
  .hero-arrow {
    gap: 100px;
  }
  .modal-core form {
    flex-direction: column;
  }
  .modal-right {
    display: block;
  }
  .subscription .new-container > div {
    width: 50%;
  }
  .subscription .title {
    margin: 0px;
  }
  .subscription-title form {
    flex-direction: column;
    align-items: normal;
  }
  .form-input input {
    max-width: 100%;
    width: 100%;
  }
  .subscription-title > div {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
  }
  .subscription form > div:nth-child(1) input,
  .subscription form > div:nth-child(2) input {
    border-radius: 10px 10px 10px 10px;
  }
  .subscription-title form .form-input {
    margin-bottom: 5px;
  }
  .input-btn {
    margin: 0px;
  }
  .more > .new-container > div:nth-child(1),
  .more > .new-container > div:nth-child(2) {
    width: 50%;
  }
  .question-container {
    flex-direction: column;
    gap: 0px;
  }
  .question-container > div:nth-child(1),
  .question-container > div:nth-child(2) {
    width: auto;
  }
  .benefits-container {
    flex-direction: column;
    align-items: center;
  }
  .benefits-card:nth-child(1n):not(:last-child) {
    margin: 0px;
    margin-bottom: 250px;
  }
  .benefits-container .benefits-card:nth-child(2) {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .benefits-container .benefits-card:nth-child(4) {
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tablet-bloc-container {
    overflow-y: scroll;
  }
  .tablet-bloc-container table {
    min-width: 515px;
  }
  .charter h4 {
    margin: 10px 0px;
    font-size: 15px;
  }
  .charter-swiper-price {
    font-size: 15px;
  }
  .charter-swiper-model {
    font-size: 15px;
  }
  .auto-title {
    align-items: center;
    flex-direction: column;
  }
  .auto-container {
    flex-direction: column;
    align-items: center;
  }
  .auto-title > div {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .select {
    max-width: none;
  }
  .rent-bloc-container {
    overflow-y: scroll;
  }
  .numbers-container {
    flex-direction: column;
  }
  .numbers-card {
    text-align: center;
  }
  .partner .partner-container {
    flex-direction: column;
    gap: 60px;
  }
  .item-bloc-container {
    flex-direction: column;
  }
  .medicine .p-p-type,
  .corporate .p-p-type {
    margin-bottom: 15px;
  }
  .form-contact-seo .contact-title {
    display: flex;
    flex-direction: column;
  }
  .form-contact-seo .contact-title p {
    font-size: 18px;
  }
  .business .p-p-title {
    font-size: 18px;
  }
  .fly-container {
    width: 100%;
    max-height: 140px;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .fly-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(248, 248, 248, 1) 100%
    );
    pointer-events: none;
  }
  .fly-container div {
    flex-wrap: wrap;
  }
  .fly h2 {
    text-align: left;
  }
  .fly p {
    display: none;
  }
  .fly-container span {
    padding: 6px 12px;
    font-size: 14px;
  }
  .fly button {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 113, 128, 0.8);
    border: none;
    background: none;
    margin-top: 20px;
  }
  .fly-container-open {
    max-height: 999px;
    transition: max-height 1s ease-in-out;
  }
  
  .fly-container-open:after {
    display: none;
  }
  .fly-container div:not(:last-child){
    margin-bottom: 10px;
  }
  .fly-container div:nth-child(2n){
    justify-content: start;
  }
}
@media screen and (max-width: 768px) {
  .hero-arrow {
    display: none;
  }
  .hero-title {
    display: block;
  }
  .hero-bloc-seo .hero-title h1 {
    font-size: 30px;
    line-height: 47px;
  }
  .hero-bloc-seo p,
  .more p {
    font-size: 14px;
  }
  .page-seo section {
    padding: 60px 0px;
  }
  .title,
  .more .title,
  .medicine .title span {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 5px;
  }
  .subscription .title,
  .title span {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 5px;
  }
  .subscription .title {
    margin: 0px;
  }
  .subscription .new-container {
    flex-direction: column;
  }
  .subscription-title {
    margin-top: 60px;
  }
  .subscription .new-container > div {
    width: auto;
  }
  .more > .new-container {
    flex-direction: column;
  }
  .more > .new-container > div:nth-child(1),
  .more > .new-container > div:nth-child(2) {
    width: auto;
  }
  .more > .new-container > div:nth-child(2) {
    margin-top: 60px;
  }
  .more a {
    text-align: center;
  }
  .item-bloc-container h3 {
    font-size: 18px;
  }
}
